/* Start Global Rules */
* {
  box-sizing: border-box;
}

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59eeb;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

body {
  font-family: "Open Sans", serif;
  margin: 0;
}

*:focus {
  outline: none;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  background-color: #f1f5f9;
  flex-direction: column;
}
/* End Global Rules */

/* Start Side Bar */
.sidebar {
  width: 220px;
  box-shadow: 0 0 10px #ddd;
  min-height: 100vh;
}

.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: black;
}

.sidebar > h3::before {
  top: calc(100% + 10px);
  width: 80px;
  height: 2px;
}

.sidebar > h3::after {
  top: calc(100% + 1.5px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid white;
  width: 12px;
  height: 12px;
}

.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}

.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 69px;
    padding: 0;
  }

  .sidebar > h3 {
    margin-top: 12px;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }

  .sidebar ul li a {
    justify-content: center;
  }
}
/* End Side Bar */

/* Start Content */
.content {
  overflow: hidden;
  width: calc(100% - 220px);
  margin-left: 220px;
}

@media (max-width: 767px) {
  .content {
    margin-left: 69px;
    width: calc(100% - 69px);
  }
}

/* Start Head */
.content .head .search::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f002";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  color: var(--grey-color);
}

.content .head .search input {
  padding-left: 37px;
  width: 160px;
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.content .head .search input:focus {
  width: 200px;
}

@media (max-width: 767px) {
  .content .head .search input:focus {
    width: 180px;
  }
}

.content .head .search input:focus::placeholder {
  transition: 0.3 s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.content .head .icon {
  gap: 14px;
  margin-right: 10px;
}

.content .head .icon span::before {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
}

.content .head .icon span {
  cursor: pointer;
}

.content .head .icon span i {
  font-size: 18px;
}

.content .head .icon img {
  width: 32px;
  cursor: pointer;
}
/* End Head */

/* Start Dashboard Title */
.page h1 {
  margin-left: 20px;
}

.page h1::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 120px;
  height: 3px;
  background: linear-gradient(to right, black 30%, white 30%);
}
/* End Dashboard Title */

/* Start Container */
.container {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 20px 20px;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0 10px 20px;
    gap: 10px;
  }
}
/* End Container */

/* Start Welcome */
.welcome {
  overflow: hidden;
}

.welcome .intro p {
  color: var(--grey-color);
}

@media (max-width: 767px) {
  .welcome .intro {
    justify-content: center;
  }
}

.welcome .intro img {
  width: 200px;
}

.welcome > img {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  margin-left: 20px;
  margin-top: -30px;
}

@media (max-width: 767px) {
  .welcome > img {
    margin-left: 0;
  }
}

.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.welcome .body div {
  flex: 1;
  font-weight: 500;
}

@media (max-width: 767px) {
  .welcome .body div:not(:last-child) {
    margin-bottom: 20px;
  }
}

.welcome .body div span {
  color: var(--grey-color);
}

.welcome .visit {
  margin: 0 10px 20px auto;
  background-color: var(--blue-color);
  color: white;
  transition: 0.3s;
}

.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
/* End Welcome */

/* Start Quick Draft */
.quick-draft p {
  color: var(--grey-color);
}

.quick-draft form input[type="submit"] {
  background-color: var(--blue-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-left: auto;
}

.quick-draft form input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}

.quick-draft form textarea {
  resize: none;
  min-height: 160px;
}
/* End Quick Draft */

/* Start Yearly Targets */
.yearlytargets p {
  color: var(--grey-color);
}

@media (max-width: 767px) {
  .yearlytargets .target-row {
    flex-direction: column;
  }
}

.yearlytargets .target-row .icon {
  width: 80px;
  height: 80px;
}

@media (max-width: 767px) {
  .yearlytargets .target-row .icon {
    margin: 0;
  }
}

.yearlytargets .money .icon {
  background-color: rgb(0 117 255 / 20%);
}

.yearlytargets .money .icon i {
  color: var(--blue-color);
}

.yearlytargets .target-row .details {
  margin-left: 20px;
  flex: 1;
}

@media (max-width: 767px) {
  .yearlytargets .target-row .details {
    margin-left: 0;
    width: 100%;
  }
}

.yearlytargets .target-row .details span {
  font-size: 17px;
}

@media (max-width: 767px) {
  .yearlytargets .target-row .details span {
    text-align: left;
    margin-bottom: 20px;
  }
}

.yearlytargets .money .progress {
  background-color: rgb(0 117 255 / 20%);
}

.yearlytargets .target-row .progress {
  height: 4px;
}

.yearlytargets .target-row .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.yearlytargets .money .progress > span {
  background-color: var(--blue-color);
}

.yearlytargets .target-row .progress > span span {
  position: absolute;
  right: -18.8px;
  top: -40px;
  border-radius: 6px;
  padding: 2px 5px;
  font-size: 14px;
}

.yearlytargets .money .progress > span span {
  background-color: var(--blue-color);
}

.yearlytargets .target-row .progress > span span::before {
  content: "";
  border-width: 7px;
  border-style: solid;
  left: 50%;
  bottom: -12px;
  position: absolute;
  transform: translateX(-50%);
}

.yearlytargets .money .progress > span span::before {
  content: "";
  border-color: var(--blue-color) transparent transparent transparent;
}

.yearlytargets .projects .icon {
  background-color: rgb(255 165 0 / 20%);
}

@media (max-width: 767px) {
  .yearlytargets .projects .icon {
    margin: 0;
  }
}

.yearlytargets .projects .icon i {
  color: orange;
}

.yearlytargets .projects .progress {
  background-color: rgb(255 165 0 / 20%);
}

.yearlytargets .projects .progress > span {
  background-color: orange;
}

.yearlytargets .projects .progress > span span {
  background-color: orange;
}

.yearlytargets .projects .progress > span span::before {
  content: "";
  border-color: orange transparent transparent transparent;
}

.yearlytargets .team .icon {
  background-color: rgb(0 128 0 / 20%);
}

.yearlytargets .team .icon i {
  color: green;
}

.yearlytargets .team .progress {
  background-color: rgb(0 128 0 / 20%);
  height: 4px;
}

.yearlytargets .team .progress > span {
  background-color: green;
}

.yearlytargets .team .progress > span span {
  background-color: green;
}

.yearlytargets .team .progress > span span::before {
  content: "";
  border-color: green transparent transparent transparent;
}
/* End Yearly Targets */

/* Start Tickets Statistics */
.ticketsstatistics > p {
  color: var(--grey-color);
}

.ticketsstatistics > div .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .ticketsstatistics > div .box {
    width: 100%;
  }
}

.ticketsstatistics > div .total i {
  color: orange;
}

.ticketsstatistics > div .box i {
  font-size: 30px;
}

.ticketsstatistics > div .box p {
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
}

.ticketsstatistics > div .box span {
  color: var(--grey-color);
  font-size: 14px;
}

.ticketsstatistics > div .pending i {
  color: var(--blue-color);
}

.ticketsstatistics > div .closed i {
  color: var(--green-color);
}

.ticketsstatistics > div .deleted i {
  color: var(--red-color);
}
/* End Tickets Statistics */

/* Start Latest News */
.latestnews > div:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .latestnews > div {
    flex-direction: column;
  }
}

.latestnews > div img {
  height: 50px;
}

@media (max-width: 767px) {
  .latestnews > div .text {
    margin-top: 10px;
  }
}

.latestnews > div .text span {
  color: var(--grey-color);
}

.latestnews > div > span {
  font-size: 13px;
  margin-left: auto;
  height: fit-content;
}

@media (max-width: 767px) {
  .latestnews > div > span {
    font-size: 13px;
    margin: 10px 0 10px;
  }
}
/* End Latest News */

/* Start Latest Tasks */
.latesttasks .row:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.latesttasks .row .text {
  flex: 1;
}

@media (max-width: 767px) {
  .latesttasks .row .text {
    text-align: left;
  }
}

.latesttasks .row .text span {
  color: var(--grey-color);
}

.latesttasks .row i {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.latesttasks .row i:hover {
  color: var(--red-color);
}

.latesttasks .deleted {
  opacity: 0.2;
}

.latesttasks .deleted .text p,
.latesttasks .deleted .text span {
  text-decoration: line-through;
}
/* End Latest Tasks */

/* Start Top Search Items */
.topsearch .title {
  color: var(--grey-color);
}

.topsearch .data-row p {
  font-size: 16px;
}

.topsearch .data-row span {
  padding: 3px 5px;
}
/* End Top Search Items */

/* Start Latest Uploads */
.latestuploads .data:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.latestuploads .data img {
  max-width: 40px;
}

@media (max-width: 767px) {
  .latestuploads .data .text {
    text-align: left;
  }
}

.latestuploads .data .text span {
  color: var(--grey-color);
}

.latestuploads .data > span {
  font-size: 13px;
  padding: 3px 5px;
}
/* End Latest Uploads */

/* Start Last Project Progress */
.lastproject > img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  opacity: 0.1;
}

.lastproject .data::before {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 40px);
  left: 15.5px;
  top: 12px;
  background-color: var(--blue-color);
}

.lastproject .data p {
  margin-left: 40px;
  padding-left: 20px;
  position: relative;
}

@media (max-width: 767px) {
  .lastproject .data p {
    text-align: left;
  }
}

.lastproject .data p::before,
.lastproject .data p.current::before,
.lastproject .data p.done::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -37px;
  top: 50%;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  background-color: white;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.lastproject .data p.current::before {
  animation: change-color 2s infinite linear;
  -webkit-animation: change-color 2s infinite linear;
}

.lastproject .data p.done::before {
  background-color: var(--blue-color);
}

@keyframes change-color {
  0%,
  100% {
    background-color: var(--blue-color);
  }
  50% {
    background-color: white;
  }
}
/* End Last Project Progress */

/* Start Reminders */
.reminders .reminder {
  margin: 0 0 30px 40px;
}

@media (max-width: 767px) {
  .reminders .reminder {
    text-align: left;
  }
}

.reminders .reminder::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: -15px;
  top: 0;
}

.reminders .one::before {
  background-color: var(--blue-color);
}

.reminders .reminder::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.reminders .one::after {
  background-color: var(--blue-color);
}

.reminders .two::before {
  background-color: var(--green-color);
}

.reminders .two::after {
  background-color: var(--green-color);
}

.reminders .three::before {
  background-color: orange;
}

.reminders .three::after {
  background-color: orange;
}

.reminders .four::before {
  background-color: var(--red-color);
}

.reminders .four::after {
  background-color: var(--red-color);
}

.reminders .reminder span {
  color: var(--grey-color);
}
/* End Reminders */

/* Start Latest Post */
@media (max-width: 767px) {
  .latestpost .text {
    flex: 0;
    min-width: fit-content;
  }
}

.latestpost .info > img {
  width: 50px;
  margin-right: 20px;
}

.latestpost .info .text > span {
  color: var(--grey-color);
}

.latestpost .post {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.latestpost .foot {
  margin-top: 30px;
}

.latestpost .foot span {
  color: var(--grey-color);
}

.latestpost .foot span:first-child::before {
  font-family: var(--fa-style-family-classic);
  content: "\f004";
  font-weight: 600;
  margin-right: 5px;
}

.latestpost .foot span:last-child::before {
  font-family: var(--fa-style-family-classic);
  content: "\f086";
  font-weight: 600;
  margin-right: 5px;
}
/* End Latest Post */

/* Start Social Media Stats */
.socialmedia .box {
  max-height: 50px;
}

.socialmedia .box:not(:last-child) {
  margin-bottom: 10px;
}

.socialmedia .twitter {
  background-color: rgb(29 161 242 / 20%);
}

.socialmedia .facebook {
  background-color: rgb(24 119 242 / 20%);
}

.socialmedia .youtube {
  background-color: rgb(255 0 0 / 20%);
}

.socialmedia .linkedin {
  background-color: rgb(0 119 181 / 20%);
}

.socialmedia .box .icon {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.socialmedia .box .icon:hover {
  transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
}

.socialmedia .twitter .icon {
  background-color: #1da1f2;
}

.socialmedia .facebook .icon {
  background-color: #1877f2;
}

.socialmedia .youtube .icon {
  background-color: red;
}

.socialmedia .linkedin .icon {
  background-color: #0077b5;
}

.socialmedia .box i {
  font-size: 30px;
}

.socialmedia .twitter p {
  color: #1da1f2;
}

.socialmedia .facebook p {
  color: #1877f2;
}

.socialmedia .youtube p {
  color: red;
}

.socialmedia .linkedin p {
  color: #0077b5;
}

.socialmedia .box span {
  margin-right: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.socialmedia .twitter span {
  background-color: #1da1f2;
}

.socialmedia .twitter span:hover {
  background-color: rgb(0 120 194);
}

.socialmedia .facebook span {
  background-color: #1da1f2;
}

.socialmedia .facebook span:hover {
  background-color: rgb(0 120 194);
}

.socialmedia .youtube span {
  background-color: red;
}

.socialmedia .youtube span:hover {
  background-color: #c00000;
}

.socialmedia .linkedin span {
  background-color: #0077b5;
}

.socialmedia .linkedin span:hover {
  background-color: #015580;
}
/* End Social Media Stats */

/* Start Projects */
.projects-section {
  overflow: hidden;
  width: calc(100% - 260px);
  margin-left: 240px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .projects-section {
    margin-left: 79px;
    width: calc(100% - 88px);
  }
}

.projects-section .responsive-table {
  overflow-x: auto;
}

.projects-section table {
  width: 100%;
  border-spacing: 0;
}

.projects-section table tbody tr {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.projects-section table tbody tr:hover {
  background-color: #faf7f7;
}

.projects-section table th,
.projects-section table td {
  padding: 20px 10px;
  min-width: 110px;
}

.projects-section table td {
  border: 1px solid #eee;
}

.projects-section table thead {
  background-color: #eee;
}

.projects-section table tbody tr td:nth-child(5) img {
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 10px;
}

.projects-section table tbody tr:first-child td:nth-child(5) img:nth-child(2) {
  margin-left: 15px;
}

.projects-section table tbody tr:first-child td:nth-child(5) img:nth-child(3) {
  margin-left: 30px;
}

.projects-section table tbody tr:first-child td:nth-child(5) img:last-child {
  margin-left: 45px;
}

.projects-section table tbody tr td:last-child span {
  padding: 2px 6px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.projects-section table tbody tr:first-child td:last-child span {
  background-color: orange;
}

.projects-section table tbody tr:nth-child(2) td:nth-child(5) img:nth-child(2) {
  margin-left: 15px;
}

.projects-section table tbody tr:nth-child(2) td:nth-child(5) img:last-child {
  margin-left: 30px;
}

.projects-section table tbody tr:nth-child(2) td:last-child span {
  background-color: var(--blue-color);
}

.projects-section table tbody tr:nth-child(3) td:nth-child(5) img:last-child {
  margin-left: 15px;
}

.projects-section table tbody tr:nth-child(3) td:last-child span {
  background-color: var(--green-color);
}

.projects-section table tbody tr:nth-child(4) td:nth-child(5) img:last-child {
  margin-left: 15px;
}

.projects-section table tbody tr:nth-child(4) td:last-child span {
  background-color: var(--green-color);
}

.projects-section table tbody tr:nth-child(5) td:nth-child(5) img:last-child {
  margin-left: 15px;
}

.projects-section table tbody tr:nth-child(5) td:last-child span {
  background-color: var(--red-color);
}

.projects-section table tbody tr:nth-child(6) td:nth-child(5) img:nth-child(2) {
  margin-left: 15px;
}

.projects-section table tbody tr:nth-child(6) td:nth-child(5) img:last-child {
  margin-left: 30px;
}

.projects-section table tbody tr:nth-child(6) td:last-child span {
  background-color: var(--green-color);
}
/* End Projects */

/* Start Settings */

/* Start Site Control */
.site-control > p {
  color: var(--grey-color);
}

.site-control > div .text span {
  color: var(--grey-color);
}

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  background-color: #ccc;
  width: 80px;
  height: 35px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

.toggle-switch::before {
  content: "\f00d";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: white;
  color: #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}

.site-control textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
  border-color: #ccc;
}

/* End Site Control */

/* Start General Info */
.general-info > p {
  color: var(--grey-color);
}

.general-info div label {
  color: var(--grey-color);
}

.general-info div:last-child div input[type="email"] {
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .general-info div:last-child div {
    flex-direction: column;
  }
}

.general-info div:last-child div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: var(--blue-color);
  cursor: pointer;
}
/* End General Info */

/* Start Security Info */
.security-info > p {
  color: var(--grey-color);
}

.security-info > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.security-info > div:not(:first-child) {
  padding-top: 20px;
}

@media (max-width: 767px) {
  .security-info > div {
    flex-direction: column;
    text-align: center;
  }
}

.security-info div span {
  color: var(--grey-color);
}

@media (max-width: 767px) {
  .security-info .text {
    margin-bottom: 10px;
  }
}

.security-info > div .btn {
  background-color: var(--blue-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.security-info > div .btn:hover {
  background-color: var(--blue-alt-color);
}

.security-info > div:last-child .btn {
  background-color: #eee;
}
/* End Security Info */

/* Start Social Info */
.social-info > p {
  color: var(--grey-color);
}

.social-info > div {
  justify-content: center;
  align-items: center;
  position: relative;
}

.social-info > div:not(:last-child) {
  margin-bottom: 25px;
}

.social-info > div::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  left: 40px;
  z-index: 1;
}

@media (max-width: 767px) {
  .social-info > div::before {
    left: 38px;
  }
}

.social-info > div i {
  position: absolute;
  left: 13px;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0.5;
  z-index: 1;
}

@media (max-width: 767px) {
  .social-info > div i {
    left: 8px;
  }
}

.social-info > div input {
  flex: 1;
  margin-right: 20px;
  border: 1px solid #ddd;
  padding: 10px 50px;
  background-color: #f6f6f6;
  position: relative;
}

@media (max-width: 767px) {
  .social-info > div input {
    margin-right: 0;
    padding: 10px 0 10px 50px;
  }
}

.social-info > div:focus-within i {
  opacity: 1;
}
/* End Social Info */

/* Start Widgets Control */
.widgets-control > p {
  color: var(--grey-color);
}

.widgets-control div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.widgets-control div input {
  appearance: none;
}

.widgets-control div label {
  cursor: pointer;
  position: relative;
  left: 15px;
}

.widgets-control div label:hover::before {
  border: 2px solid var(--blue-color);
}

.widgets-control div label::before,
.widgets-control div label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -28px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  top: 3px;
}

.widgets-control div label::before {
  border: 2px solid var(--grey-color);
}

.widgets-control div label::after {
  width: 18px;
  height: 18px;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
}

.widgets-control div input:checked + label::after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  font-size: 12px;
  width: 17px;
  height: 17px;
  top: 3px;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1) rotate(0);
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
}
/* End Widgets Control */

/* Start Backup Manager */
.backupmanager > p {
  color: var(--grey-color);
}

.backupmanager > div {
  margin-bottom: 15px;
}

.backupmanager > div > input {
  appearance: none;
}

.backupmanager > div > label {
  position: relative;
  padding-left: 25px;
}

.backupmanager > div > label:hover::before {
  border: 2px solid var(--blue-color);
}

.backupmanager > div > label::before,
.backupmanager > div > label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.backupmanager > div > label::before {
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
  left: 0;
  top: 50%;
}

.backupmanager > div > label::after {
  width: 12px;
  height: 12px;
  left: 3px;
  top: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--blue-color);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.backupmanager > div > input:checked + label::before {
  border-color: var(--blue-color);
}

.backupmanager > div > input:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.backupmanager .servers {
  justify-content: space-around;
}

@media (max-width: 767px) {
  .backupmanager .servers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.backupmanager .servers input {
  appearance: none;
  display: none;
}

.backupmanager .servers > div {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid #ddd;
  padding: 10px 40px;
  cursor: pointer;
  width: 32%;
}

@media (max-width: 767px) {
  .backupmanager .servers > div {
    width: 100%;
  }
}

.backupmanager .servers input:checked + div {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.backupmanager .servers .box {
  flex-direction: column;
  gap: 8px;
}
/* End Backup Manager */

/* End Settings */

/* Start Profile */
.profile {
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 0 15px;
}

@media (max-width: 1128px) {
  .profile .user {
    margin: 0;
  }
}

.profile .user img {
  width: 100px;
}

.profile .user p {
  color: var(--grey-color);
}

.profile .user > span {
  height: 5px;
  width: 100%;
  background-color: #ddd;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}

.profile .user > span span {
  height: 5px;
  background-color: var(--blue-color);
  position: absolute;
  left: 0;
}

.profile .user .stars {
  color: orange;
}

.profile .user .stars i {
  font-size: 14px;
}

.profile .info {
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

@media (max-width: 1128px) {
  .profile .info {
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .profile .info > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .profile .info > div > p {
    margin-bottom: 10px;
  }

  .profile .info > div > div {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.profile .info .toggle-switch {
  height: 20px;
}

.profile .info .toggle-switch::before {
  font-size: 12px;
  width: 16px;
  height: 16px;
}

.profile .info .toggle-checkbox:checked + .toggle-switch::before {
  left: 58px;
}

.profile .info > div {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding-left: 10px;
}

.profile .info > div:hover {
  background-color: #eee;
}

.profile .info > div:not(:first-child) {
  padding-top: 20px;
}

.profile .info > div:not(:last-child) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.profile .info p {
  color: var(--grey-color);
}

.box-content {
  grid-column: 1 / 3;
  gap: 20px;
}

@media (max-width: 1128px) {
  .box-content {
    flex-direction: column;
  }
}

/* Start My Skills */
.my-skills {
  padding-bottom: 30px;
  width: 500px;
}

@media (max-width: 1128px) {
  .my-skills {
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  }
}

.my-skills > p {
  color: var(--grey-color);
}

.my-skills div:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.my-skills div span {
  padding: 3px 8px;
  background-color: #eee;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.my-skills div span:hover {
  background-color: #000000bf;
  color: white;
}
/* End My Skills */

/* Start Latest Activities */
.latest-activities {
  width: 100%;
}

.latest-activities > p,
.latest-activities > div .date span {
  color: var(--grey-color);
}

.latest-activities > div:not(:last-child) {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 1128px) {
  .latest-activities > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.latest-activities > div img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

@media (max-width: 1128px) {
  .latest-activities > div img {
    margin: 0;
  }
}

@media (max-width: 1128px) {
  .latest-activities > div > div p {
    margin-top: 10px;
  }
}

.latest-activities > div .text span {
  color: var(--grey-color);
}

.latest-activities > div .date {
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 1128px) {
  .latest-activities > div .date {
    flex-direction: column;
    align-items: center;
  }
}
/* End Latest Activities */

/* End Profile */

/* End Content */
